// RTL
html,
body,
.card__title{
  direction: rtl;
  text-align: right;
}

.list__tile__content{
  text-align: right;
}

.list__tile__title{
  text-align: right;
}

.input-group.input-group--selection-controls label{
  left: initial;
  right: 32px;
  text-align: right;
}

.input-group.input-group--selection-controls .icon--selection-control{
  left: initial;
  right: 0;
}

.input-group--text-field label{
  left: initial;
  right: 0;
  text-align: right;
  transform-origin: top right;
}

.breadcrumbs__divider{
  transform: scaleX(-1);
}

.toolbar__content>:not(.btn):not(.menu):first-child:not(:only-child),
.toolbar__extension>:not(.btn):not(.menu):first-child:not(:only-child){
  margin-left: initial;
  margin-right: 16px;
}

.input-group.input-group--selection-controls.switch label{
  padding-left: initial;
  padding-right: 14px;
}

.input-group--text-field .input-group__counter{
  margin-left: initial;
  margin-right: auto;
}

.input-group--text-field.input-group--prepend-icon label{
  left: initial;
  right: 40px;
}

.input-group--text-field.input-group--prepend-icon .input-group__prepend-icon{
  justify-content: flex-end;
}

.input-group--text-field.input-group--prepend-icon .input-group__details{
  margin-right: auto;
  margin-left: initial;
}

.alert__icon{
  margin-right: initial;
  margin-left: 16px;
}

table.table thead th,
.text-xs-left{
  text-align: right!important;
}

.chip .avatar{
  margin-left: 8px;
  margin-right: -12px;
}

.datatable__actions__range-controls .icon,
.pagination__navigation .icon{
  transform: scaleX(-1)
}

// Additional modifiers
.ltr, .ltr-input input{
  text-align: left;
  direction: ltr;
}

.mirror-icon {
  transform: scaleX(-1)
}

.input-group.input-group--solo label{
  padding-right: 16px;
  padding-left: initial;
}

.input-group--text-field.input-group--textarea:not(.input-group--full-width) label{
  left: initial;
  right: 15px;
}

.input-group--text-field.input-group--textarea:not(.input-group--full-width) .input-group__input{
  padding: 30px 13px 0  0;
}

.progress-linear__bar{
  direction: ltr;
}

.toolbar__title{
  margin-right: 16px;
  margin-left: initial;
}